.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background):hover {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--background);
    border-color: var(--wp--preset--color--secondary)
}

a {
    text-decoration-thickness: .0625em !important;
    text-underline-offset: .15em
}